// Colour variables
$border: #f9f9f9
$accent: #ddd
$logoblue: #0047fa
$paragraphs: #555
$othertext: #777
$linkcolour: #000
// Font variables
$link: 'Open Sans Condensed'
$paragraph: 'pt sans'
$header: 'Crimson Text'

// Generic defaults
body
  background-image: url("/img/gplaypattern.png")
a
  letter-spacing: 0.1em
  font-family: $link
  color: $othertext
p
  font-size: 18px
  color: $paragraphs
  letter-spacing: .03em
  font-family: $paragraph
  line-height: 1.6em
  @media screen and (max-width: 1163px)
    font-size: 16px
hr
  border-color: $accent
h2
  padding-bottom: 10px
  padding-top: 10px
h4
  margin: 20px auto 20px

// Navbar Goodies -----------------------------------------------------
.navbar
  background: white
  border-radius: 0
  border-bottom: 1px solid $border
  margin-left: -12px
  margin-bottom: 0
  @media screen and (max-width: 1024px)
    margin-left: 0
  a
    font-size: 20px
    font-family: $link
    padding-left: 30px
    @media screen and (max-width: 1024px)
      font-size: 18px
    @media screen and (max-width: 815px)
      font-size: 16px
  .navbar-collapse
    border-color: $border
  .dropdown-menu
    border: 1px solid $border
    a:hover
      background: $border
      color: $logoblue
  .navbar-brand
    padding: 2px 5px 0 5px
    border-right: 1px solid $accent
    border-left: 1px solid $accent
    @media screen and (max-width: 815px)
      padding: 5px 0 0 0
    .logo
      float: left
      margin: 0 15px
      @media screen and (max-width: 815px)
        margin: 0 5px
.navbar-default
  .navbar-nav
    padding: 0 10px 0 10px
    li
      &>a:hover
        color: $logoblue
    &>.open
      &>a, &>a:hover, &>a:focus
        background: $border

// Homepage special stuff --------------------------------------------
#home
  text-align: center
  padding: 100px 80px 100px 80px
  @media screen and (max-width: 700px)
    padding: 40px
  .frontlogo
    width: 90%
    @media screen and (max-width: 700px)
      width: 100%
  .fronttext
    font-size: 16px
    margin: 15px
    font-style: italic
    color: $othertext

// Kills column so content fit better on small screens
.col-sm-2
  @media screen and (max-width: 1024px)
    display: none

// Helps to resize on smaller screens
.smallerResFixer
  @media screen and (max-width: 1024px)
    margin: 0 40px
  @media screen and (max-width: 800px)
    margin: 0 20px
  @media screen and (max-width: 500px)
    margin: 0

  // Main div and everything inside ----------------------------------
  .base
    background: white
    margin-top: 40px
    margin-bottom: 40px
    padding: 20px
    border: 1px solid $border
    @media screen and (max-width: 1024px)
      width: 100%
    h2
      color: $logoblue
      font-family: $header
      margin: 0 0 10px 0

    // The Beat Machine about page
    .nav-tabs
      letter-spacing: 0
      font-size: 16px
      @media screen and (max-width: 1163px)
        font-size: 14px
      @media screen and (max-width: 1047px)
        font-size: 13px
      a
        @media screen and (max-width: 750px)
          padding: 7px
      a:hover
        color: $logoblue
        background: $border
        border: 1px solid $border
        border-bottom: 1px solid $accent
        @media screen and (max-width: 500px)
          border-bottom: none
    h2.nav-tab-fix
      padding-top: 20px
    .beatmachineabout
      border-left: 1px solid $accent
      border-right: 1px solid $accent
      border-bottom: 1px solid $accent
      padding: 0 20px
      .tab-content
        padding-bottom: 10px
    ul.intro
      list-style: decimal
      font-size: 18px
      letter-spacing: .03em
      font-family: $paragraph
      padding: 10px auto
      color: $paragraphs

    // About main page
    .team
      list-style: none
      font-size: 18px
      letter-spacing: .03em
      font-family: $paragraph
      padding: 0
      color: $paragraphs
      li
        padding-bottom: 10px
    .teamphoto
      display: block
      margin: 0 auto
      margin-bottom: 10px
      @media screen and (max-width: 560px)
        width: 90%

    // The Media page
    .gallery
      @media screen and (max-width: 750px)
        padding: 10px
      @media screen and (max-width: 625px)
        padding: 5px
      .caption
        p
          font-size: 13px
          text-align: center
          @media screen and (max-width: 625px)
            font-size: 12px
          @media screen and (max-width: 574px)
            font-size: 11px
      img
        padding: 20px
        @media screen and (max-width: 750px)
          height: 150px
          padding: 10px
        @media screen and (max-width: 660px)
          height: 110px
          padding: 5px

    // Contact page
    .email
      font-size: 20px
      font-family: $link
      a:hover
        color: $logoblue

// Footer -------------------------------------------------------
footer
  text-align: right
  color: $othertext
  @media screen and (max-width: 1024px)
    text-align: center
  .foot
    padding-right: 0
  h6
    padding: 0 0 10px 0
    margin: 0
