html
  body

    #home
      text-align: center
      padding-top: 17%
      padding-left: 80px
      padding-right: 80px
      .frontlogo
        width: 500px
        margin: 25px
      .fronttext
        padding-top: 10px

    .frontnav
      display: block
      list-style: none
      margin-top: 10%
      padding: 10px
      margin-bottom: 40px
      text-align: center
      li
        font-size: 18px
        display: inline
        padding: 0 40px

    .base
      position: absolute
      z-index: -1
      margin-bottom: 10px
      margin-top: -10px
      background: white
      height: 90%

    .navbar
      background: white
      border-radius: 0
      border: 1px solid white

      .navbar-brand::first-letter
        color: #005495
        font-size: 26px

      .navbar-brand
        color: black
        font-size: 24px

    .logo
      width: 40px
      float: left
      margin-right: 10px
      margin-top: 5px

    .nav-tabs
      padding-top: 20px

    h2
      color: #005495

    ul.intro
      list-style: decimal
